NEXT_PUBLIC_SUPABASE_URL=https://vqmemfsgwqkeaxavhhji.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxbWVtZnNnd3FrZWF4YXZoaGppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1NDY2NTksImV4cCI6MjEwMjEyMjY1OX0.cetldfXUtqDlbj4UUsSlknvzr6S-G1NeUw3ZjaE5S2Y